<%- include('./templates/header_admin') %>
<!-- Section products -->
<section>
   <div id="main-product-page" class="main-product">
      <div class="boxcenter">
         <div class="title-product">
            <h1>Products</h1>
            <a href="/admin/product/add">
               <i class="bi bi-plus"></i>
            </a>
         </div>

         <div class="banner-product">
            <img src="/public/img/other_img/wallpaper-angledwares.jpg" alt="">
            <div class="text-banner">
               <p>WELCOME TO OUR</p>
               <h1>FURNITURE</h1>
               <p>GALLERY 2024</p>
            </div>
         </div>

         <div id="container-product-admin" class="container-product">
            <% productLists.forEach(pro => { %>
                  <div class="box-featured-product">
                     <div class="product-image">
                        <img
                           class="detail"
                           src="/public/img/pro_img/<%= pro.image_pro %>"
                           alt=""
                        />
                        <% if (pro.sale_pro < pro.price_pro) { %>
                              <div class="tag-product-sale">
                                 <span>Sale</span>
                              </div>
                        <% } else { %>

                        <% } %>
      
                        <div class="main-func">
                           <div class="container-func-pro">
                              <div class="function-product">
                                 <div class="func-wishlist">
                                    <i class="bi bi-heart"></i>
                                 </div>
                                 |
                                 <div class="func-qich-view">
                                    <i class="bi bi-search"></i>
                                 </div>
                                 |
                                 <div class="func-add-cart">
                                    <i class="bi bi-cart-plus btn-addCart"></i>
                                 </div>
                                 |
                                 <div class="func-payment">
                                    <i class="bi bi-currency-dollar"></i>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
      
                     <div class="product-content">
                        <div class="product-name">
                           <a href="#"><h3><%= pro.name_pro %></h3></a>
                           <p>Furniture</p>
                        </div>
      
                        <div class="product-price">
                           <% if (pro.sale_pro < pro.price_pro) { %>
                                 <div class="sale-price">
                                    <p>$<%= pro.sale_pro %></p>
                                    <span>$<%= pro.price_pro %></span>
                                 </div>
                           <% } else { %>
                                 <div class="sale-price">
                                    <p>$<%= pro.price_pro %></p>
                                 </div>
                           <% } %>
                           <div class="stars">
                              <i class="bi bi-star-fill"></i>
                              <i class="bi bi-star-fill"></i>
                              <i class="bi bi-star-fill"></i>
                              <i class="bi bi-star-fill"></i>
                              <i class="bi bi-star-fill"></i>
                           </div>
                        </div>
                     </div>
      
                     <div class="double-button">
                        <a href="/admin/product/<%= pro._id %>/update">
                           <button class="openEditProduct">Edit product</button>
                        </a>
                        <a href="/admin/product/<%= pro._id %>/delete">
                           <button class="deleteProduct">Delete product</button>
                        </a>
                     </div>
                  </div>
            <% }) %>
         </div>
      </div>
   </div>
</section>
<%- include('./templates/footer_admin') %>